# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out


# IDEs directories
.idea
.vscode
/random-darwin-arm64
/metricstest-darwin-arm64
/tmp/metrics-db.json
/cmd/server/server